.logo{
    height: 150px;
    width: 100%;
}
.menu{
font-family: "Roboto", sans-serif;
font-style: bold;
font-size: 30px;
text-align: center;
position:fixed;
height: 100%;
width: 20%;
}
.menu a{
    color: #ffff;
}
.menu li{
    padding: 15px; 
}
