.flex-container-home{
    display: flex;
    flex-wrap: wrap;
   justify-content: center;
}
.flex-item-home{
    display: flex;
    flex-direction: column;
    max-width: 65%;
    min-width: 400px;
    align-items: center;
}
.Title-home{
    text-align: center;
    width: 100%;
}
.intro{
    text-align: center;
    width: 100%;
}
.content{
    text-align: center;
    width: 100%;  
}
.ph img{
    width: 200px;
    height: 250px;
}
