.flex-container-footer {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin: 30px 0px;
}
footer img{
    width: 15%;
    height: 15%;
    margin: 0 auto;
}
footer p{
    font-family: "Roboto", sans-serif;
    text-align: center;
    font-size: 12px;
    color: #000000;
    margin-top: 2%;
    margin-right: 25%;
} 
