header{
    display: flex;
    height: 100px;
    background-color: #46A37C;
    align-items: center;
 }
.main-title{
    width: 80%;  
    text-align: center;
    margin-right: 30%;
}
.hamb-menu img {
    width: 80%;
}

.hamb-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: #3b956f;
}

.hamb-container{
    width: 20%;
    margin-left: 20px;
}
header{
    display: flex;
    height: 150px;
    background-color: #46A37C;
    align-items: center;
 }
}