<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sign-up</title>
        <link rel="stylesheet"  href="../Styles/reset.css">
        <link rel="stylesheet"  href="../Styles/Sidebar.css">
        <link rel="stylesheet" href="../Styles/header.css">
        <link rel="stylesheet" href="../Styles/footer.css">
        <link rel="stylesheet" href="../Styles/sign-up.css">
        <link rel="stylesheet" href="../Styles/Styles.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
    </head>
<body>
    <div class="flex-container-nav">
        <aside class="menu">
            <img class="logo" src="../Assets/LOGO-RR.png" alt="Radium Rocket">
            <ul>
                <li><a href="../Views/index.html">Home</a></li>
                <li><a href="../Views/sign-up.html">Sign Up</a></li>
                <li><a href="../Views/login.html">Log in</a></li>
            </ul>
        </aside>
    </div>
    <div class="flex-container-page">
        <header>
            <div class="hamb-container">
                <div class="hamb-menu">
                    <img src="../Assets/hamburguer.png" alt="menu">
                </div>
            </div>
            <div class="main-title">
                <h1>
                    Trackgenix SA
                </h1>
            </div>
        </header>
        <main>
            <section>
                <h2>Sign Up</h2>
                <form>
                    <div>
                        <label>First Name</label>
                        <input type="text" name="firstName" placeholder="John">
                    </div>
                    <div>
                        <label>Last Name</label>
                        <input type="text" name="lastName" placeholder="Doe">
                    </div>
                    <div>
                        <label>DNI</label>
                        <input type="text" name="DNI" placeholder="ID number">
                    </div>
                    <div>
                        <label>Birth Date</label>
                        <input type="text" name="birthDate" placeholder="dd/mm/yyyy">
                    </div>
                    <div>
                        <label>Phone</label>
                        <input type="text" name="Phone" placeholder="Insert phone number">
                    </div>
                    <div>
                        <label>Adress</label>
                        <input type="text" name="Adress" placeholder="Insert a street address">
                    </div>
                    <div>
                        <label>City</label>
                        <input type="text" name="City" placeholder="Insert City">
                    </div>
                    <div>
                        <label>Post Code</label>
                        <input type="text" name="postCode" placeholder="Ex:2000">>
                    </div>
                    <div>
                        <label>E-mail</label>
                        <Input class="dirEmail" type="email"  email="email" placeholder="email@example.com">
                    </div>
                    <div>
                        <label for="pwd">Password:</label>
                        <input type="password" id="pwd" name="pwd">
                    </div>
                    <div>
                        <label for="rpwd">Repeat Password:</label>
                        <input type="password" id="rpwd" name="rpwd">
                    </div>
                    <div>
                        <input class="button-s" type="submit" name="submit" value="Submit">
                        <input class="button-r" type="reset" name="reset" value="Reset">
                    </div>
                </form>
            </section>
        </main>
        <div class="flex-container-footer">
            <footer>
                <a href="https://www.linkedin.com/company/radium-rocket/">
                <img src="../Assets/LI.png" alt="LinkedIn">
                </a>
                <a href="https://www.facebook.com/radiumrocket">
                <img src="../Assets/FB.png" alt="facebook">
                </a>
                <a href="https://twitter.com/radiumrocket">
                <img src="../Assets/TW.png" alt="twitter">
                </a>
                <a href="https://github.com">
                <img src="../Assets/nose.png" alt="github">
                </a>
                <a href="https://www.instagram.com/radium.rocket/">
                <img src="../Assets/IG.png" alt="Ig">
                </a>
                <div> 
                    <p>
                        Copyright &copy; 2022 Trackgenix S.A. All rights reserved.
                    </p>
                </div>
            </footer>
        </div>
    </div>
</body>
</html>