<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sign-up</title>
        <link rel="stylesheet"  href="../Styles/reset.css">
        <link rel="stylesheet"  href="../Styles/Sidebar.css">
        <link rel="stylesheet" href="../Styles/header.css">
        <link rel="stylesheet" href="../Styles/footer.css">
        <link rel="stylesheet" href="../Styles/sign-up.css">
        <link rel="stylesheet" href="../Styles/Styles.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
    </head>
<body>
    <div class="flex-container-nav">
        <aside class="menu">
            <img class="logo" src="../Assets/LOGO-RR.png" alt="Radium Rocket">
            <ul>
                <li><a href="../Views/index.html">Home</a></li>
                <li><a href="../Views/sign-up.html">Sign Up</a></li>
                <li><a href="../Views/login.html">Log in</a></li>
            </ul>
        </aside>
    </div>
    <div class="flex-container-page">
        <header>
            <div class="hamb-container">
                <div class="hamb-menu">
                    <img src="../Assets/hamburguer.png" alt="menu">
                </div>
            </div>
            <div class="main-title">
                <h1>
                    Trackgenix SA
                </h1>
            </div>
        </header>
        <main>
            <section>
                <h2>Sign Up</h2>
                <form id="form">
                    <div class="fHalf">
                        <div class="name">
                            <label>First Name</label>
                            <input id="fName" type="text" name="firstName" placeholder="John">
                        </div>
                        <div>
                            <span id="reqName">Name is required</span>
                        </div>
                        <div>
                            <span id="incorrectName">Error! Name must have more than 3 Letters</span>
                        </div>
                        <div>
                            <span id="correctName">The Name is accepted</span>
                        </div>
                        <div class="lName">
                            <label>Last Name</label>
                            <input id="lName" type="text" name="lastName" placeholder="Doe">
                        </div>
                        <div>
                            <span id="reqLName">Last Name is required</span>
                        </div>
                        <div>
                            <span id="incorrectLName">Error! Last Name must have more than 3 characters</span>
                        </div>
                        <div>
                            <span id="correctLName">Last Name is accepted</span>
                        </div>
                        <div class="idNum">
                            <label>DNI</label>
                            <input id="idNum" type="text" name="Dni" placeholder="ID number">
                        </div>
                        <div>
                            <span id="reqDni">DNI is required</span>
                        </div>
                        <div>
                            <span id="incorrectDni">Error! DNI must have more than 7 numbers</span>
                        </div>
                        <div>
                            <span id="correctDni">DNI is accepted</span>
                        </div>
                        <div class="bDate">
                            <label>Birth Date</label>
                            <input id="bDate" type="date" name="birthDate" placeholder="dd/mm/yyyy">
                        </div>
                        <div>
                            <span id="reqDate">Birth date number is required</span>
                        </div>
                        <div>
                            <span id="incorrectDate">Error! Must be over 18 and </span>
                        </div>
                        <div>
                            <span id="correctDate">Birth Date is accepted</span>
                        </div>
                        <div class="phone">
                            <label>Phone</label>
                            <input id="phone" type="text" name="Phone" placeholder="Insert phone number">
                        </div>
                        <div>
                            <span id="reqPhone">Phone number is required</span>
                        </div>
                        <div>
                            <span id="incorrectPhone">Error! The number must have 10 characters</span>
                        </div>
                        <div>
                            <span id="correctPhone">Phone is accepted</span>
                        </div>
                    </div>
                    <div class="sHalf">
                        <div class="address">
                            <label>Adress</label>
                            <input id="address" type="text" name="Adress" placeholder="Insert a street address">
                        </div>
                        <div>
                            <span id="reqAdress">Adress is required</span>
                        </div>
                        <div>
                            <span id="incorrectAdress">Adress is Incorrect</span>
                        </div>
                        <div>
                            <span id="correctAdress">Adress is Accepted</span>
                        </div>
                        <div class="city">
                            <label>City</label>
                            <input id="city" type="text" name="City" placeholder="Insert City">
                        </div>
                        <div>
                            <span id="reqCity">City is required</span>
                        </div>
                        <div>
                            <span id="incorrectCity">Error! Please write a valid City</span>
                        </div>
                        <div>
                            <span id="correctCity">City is accepted</span>
                        </div>
                        <div class="postCode">
                            <label>Post Code</label>
                            <input id="postCode" type="text" name="postCode" placeholder="Ex:2000">
                        </div>
                        <div>
                            <span id="reqPcode">Post code is required</span>
                        </div>
                        <div>
                            <span id="incorrectPcode">Error! Please write a valid Post Code</span>
                        </div>
                        <div>
                            <span id="correctPcode">The Post Code is accepted</span>
                        </div>
                        <div class="correo">
                            <label>E-mail:</label>
                            <Input id="mail" type="email" email="email" placeholder="email@example.com">
                        </div>
                        <div>
                            <span id="reqMail">E-mail address is required</span>
                        </div>
                        <div>
                            <span id="incorrectMail">Error! Please write a valid e-mail</span>
                        </div>
                        <div>
                            <span id="correctMail">The e-mail is accepted</span>
                        </div>
                        <div class="contraseña">
                            <label>Password:</label>
                            <input type="password" id="pwd" name="pwd">
                        </div>
                        <div>
                            <span id="reqPwd">Password is required</span>
                        </div>
                        <div>  
                            <span id="lenghtPwd">The password is not long enough</span>
                        </div>
                        <div>
                            <span id="incorrectPwd">The password does not meet the restrictions</span>
                        </div>
                        <div>
                            <span id="correctPwd">The password is accepted</span>
                        </div>
                        <div class="rContraseña">     
                            <label>Repeat Password:</label>
                            <input type="password" id="rPwd" name="pwd">
                        </div>
                        <div>
                            <span id="reqRPwd">Password is required</span>
                        </div>
                        <div>
                            <span id="incorrectRPwd">Error! The password does not match</span>
                        </div>    
                        <div>
                        <span id="correctRPwd">The password is accepted</span>
                        </div>
                    </div>
                    <div id="msgValidation"></div>  
                    <div class="botones">
                        <button type="submit" id="button-s" type="submit" name="submit" value="Login">Login</button>
                        <input class="button-r" type="reset" name="reset" value="Reset">
                    </div>
                </form>
            </section>
        </main>
        <div class="flex-container-footer">
            <footer>
                <a href="https://www.linkedin.com/company/radium-rocket/">
                <img src="../Assets/LI.png" alt="LinkedIn">
                </a>
                <a href="https://www.facebook.com/radiumrocket">
                <img src="../Assets/FB.png" alt="facebook">
                </a>
                <a href="https://twitter.com/radiumrocket">
                <img src="../Assets/TW.png" alt="twitter">
                </a>
                <a href="https://github.com">
                <img src="../Assets/nose.png" alt="github">
                </a>
                <a href="https://www.instagram.com/radium.rocket/">
                <img src="../Assets/IG.png" alt="Ig">
                </a>
                <div> 
                    <p>
                        Copyright &copy; 2022 Trackgenix S.A. All rights reserved.
                    </p>
                </div>
            </footer>
        </div>
    </div>
    <script src="../JavaScript/sign-up.js"></script>
</body>
</html>