body{
    background-color: white;
    font-family: roboto, sans-serif, arial, helvetica;
}
a:link, a:visited, a:active {
    text-decoration: none;
}
header {
    background-color: #46A37C;
    height: 150px;
    width: 100%;
    }
h1 {
    color: #373867;;
    font-size: 40px;
    font-weight: 700;
    padding-top: 55px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-indent: 350px;
}
.logo {
    position: fixed;
    top: 0;
    left: 0;
}
aside {
    position: fixed;
    float: left;
    top: 150px;
    width: 254px;
    height: 100%;
    background: #373867;
    text-align: center;
    padding-top: 50px;
}
aside a{
    display: inline-block;
    color: white;
    vertical-align: middle;
    font-size: 30px;
    line-height: 35px;
    padding-top:15px;
}
aside a:hover{
    color: #46A37C;
    font-weight: 700;
}
.home{
    display: inline-block;
}
.home img{
    float: right;
    width: 317px;
    height: 395px;
    margin-top: 45px;
    margin-right: 144px;
    margin-left: 200px;
}
.home h2{
    color: #373867;;
    font-size: 60px;
    font-weight: 700;
    line-height: 150px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.choice{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #B4AFAF;
}
section{
    margin-left: 300px;
}
.line{
    width: 90%;
    margin-top: 100px;
    margin-bottom: 50px;
    border-bottom: 2px solid lightgray;
}
.line1{
    margin-left: 300px;
    width: 78%;
    margin-top: 100px;
    margin-bottom: 50px;
    border-bottom: 2px solid lightgray;
}
.home p{
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    padding-top:30px;
}
.utilities {
    display: inline-block;
    width: 332px;
    height: 276px;
    background-color: #FDFDFD;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    margin: 30px 70px 30px;
    padding: 40px;
    border-radius: 40px;
    text-align: center;
    border: 1px solid #FDFDFD;
}
.utilities h2{
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #46A37C;
}
.utilities p{
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    color: #373867;
    padding-top: 33px;
}
.upgrades{
    display: inline-block;
    width: 45%;
    height: 250px;
    text-align: center;
    vertical-align: middle;
    padding: 10px;
    margin: 10px;
}
.textup{
    display: inline-block;
    width: 60%;
    vertical-align: top;
    margin-top: 5px;
    padding: 10px;
}
.textup h2{
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: #373867;
}
.icon{
    display: inline-block;
    border-radius:100%;
    height: 120px;
    width: 120px;
    filter: drop-shadow(1px 1px 5px rgba(0,0,0,))
}
.icon img{
    display: inline-block;
    width:70px;
    height:70px;
}
#contact h2{
    font-weight: 700;
    font-size: 24px;
    line-height: 35px;
    color: #373867;
    margin-bottom: 10px;
    padding-bottom: 10px;
}
input{
    display: inline-block;
    width: 80%;
    padding-bottom: 10px;
}
label{
    display: inline-block;
    width: 75%;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #373867;
    padding-bottom: 10px;
}
.name{
    display: inline-block;
    position: relative;
    bottom: 20px;
    width: 30%;
}
.area{
    display: inline-block;
    width: 75%;
    padding-bottom: 10px;
}
textarea{
    display: inline-block;
    width: 75%;
    height: 150px;
    padding-bottom: 10px;
}

.button-s{
    width: 137px;
    height: 34px;
    padding: 10px 24px;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    font: #373867;
    background-color: #AACE9B;
    border-radius: 5px;
    text-align: center; 
}
.button-r{
    width: 137px;
    height: 34px;
    padding: 10px 24px;
    border-radius: 5px;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #373867;
    background-color: #fff;
    text-align: center;
}
.who{
    width: 80%;
    height: 250px;
    background: #FDFDFD;
    box-shadow: 0px 8px 100px rgba(0, 0, 0, 0.1);
    border-radius: 50px;
    margin-bottom: 50px;
}
.who h2{
    font-weight: 700;
    font-size: 24px;
    color: #373867;
    padding: 40px;
}
.who p{
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #151515;
    padding-left: 40px;
    padding-right: 40px;

}
.lists{
    display: inline-block;
    width: 25%;
    display: inline-block;
    margin: 10px 35px 10px;
}
.lists h2{
    font-weight: 700;
    font-size: 30px;
    color: #000000; 
    margin-bottom: 10px;
}
.lists li{
    padding: 5px;
    font-weight: 400;
    font-size: 20px;
    color: #000000;
}
.lists ol{
    list-style-type:decimal;
}
.lists ul{
    list-style-type:circle;
}
.footer{
    margin-left: 300px;
    margin-bottom: 30px;
    text-align: center;
}
.footer img{
    display: inline-block;
    width: 30px;
    height: 30px;
}
.footer p{
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #000000;
}


